
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- Paul Alan Freshney February 11th 2010 -->

<plist version="1.0">
<array>

	<dict>
		<key>atomicnumber</key>
		<integer>118</integer>
		<key>name</key>
		<string>Oganesson</string>
		<key>group</key>
		<string>Noble Gases</string>
		<key>data</key>
		<string>2006, Dubna, USSR</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>115</integer>
		<key>name</key>
		<string>Moscovium</string>
		<key>group</key>
		<string>Pnictogen</string>
		<key>data</key>
		<string>2004, Russia</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>113</integer>
		<key>name</key>
		<string>Nihonium</string>
		<key>group</key>
		<string>Transactinides</string>
		<key>data</key>
		<string>2004, Russia</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>116</integer>
		<key>name</key>
		<string>Livermorium</string>
		<key>group</key>
		<string>Chalcogen</string>
		<key>data</key>
		<string>2000, Russia</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>114</integer>
		<key>name</key>
		<string>Flerovium</string>
		<key>group</key>
		<string>Transactinides</string>
		<key>data</key>
		<string>1999, Russia</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>112</integer>
		<key>name</key>
		<string>Copernicium</string>
		<key>group</key>
		<string>Transactinides</string>
		<key>data</key>
		<string>1996, GSI, Darmstadt, Germany</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>110</integer>
		<key>name</key>
		<string>Darmstadtium</string>
		<key>group</key>
		<string>Transactinides</string>
		<key>data</key>
		<string>1994, Darmstadt, West Germany</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>111</integer>
		<key>name</key>
		<string>Roentgenium</string>
		<key>group</key>
		<string>Transactinides</string>
		<key>data</key>
		<string>1994, Darmstadt, West Germany</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>108</integer>
		<key>name</key>
		<string>Hassium</string>
		<key>group</key>
		<string>Transactinides</string>
		<key>data</key>
		<string>1984, GSI, Darmstadt, Germany</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>109</integer>
		<key>name</key>
		<string>Meitnerium</string>
		<key>group</key>
		<string>Transactinides</string>
		<key>data</key>
		<string>1982, Darmstadt, West Germany</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>107</integer>
		<key>name</key>
		<string>Bohrium</string>
		<key>group</key>
		<string>Transactinides</string>
		<key>data</key>
		<string>1976, Dubna, USSR</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>106</integer>
		<key>name</key>
		<string>Seaborgium</string>
		<key>group</key>
		<string>Transactinides</string>
		<key>data</key>
		<string>1974, Dubna, USSR / Berkeley California</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>105</integer>
		<key>name</key>
		<string>Dubnium</string>
		<key>group</key>
		<string>Transactinides</string>
		<key>data</key>
		<string>1970, Dubna, USSR</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>104</integer>
		<key>name</key>
		<string>Rutherfordium</string>
		<key>group</key>
		<string>Transactinides</string>
		<key>data</key>
		<string>1969, Berkeley California</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>103</integer>
		<key>name</key>
		<string>Lawrencium</string>
		<key>group</key>
		<string>Actinoids</string>
		<key>data</key>
		<string>1961, United States</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>102</integer>
		<key>name</key>
		<string>Nobelium</string>
		<key>group</key>
		<string>Actinoid</string>
		<key>data</key>
		<string>1957, Sweden</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>101</integer>
		<key>name</key>
		<string>Mendelevium</string>
		<key>group</key>
		<string>Actinoid</string>
		<key>data</key>
		<string>1955, United States</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>100</integer>
		<key>name</key>
		<string>Fermium</string>
		<key>group</key>
		<string>Actinoid</string>
		<key>data</key>
		<string>1953, United States</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>99</integer>
		<key>name</key>
		<string>Einsteinium</string>
		<key>group</key>
		<string>Actinoid</string>
		<key>data</key>
		<string>1952, United States</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>98</integer>
		<key>name</key>
		<string>Californium</string>
		<key>group</key>
		<string>Actinoid</string>
		<key>data</key>
		<string>1950, United States</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>97</integer>
		<key>name</key>
		<string>Berkelium</string>
		<key>group</key>
		<string>Actinoid</string>
		<key>data</key>
		<string>1949, United States</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>95</integer>
		<key>name</key>
		<string>Americium</string>
		<key>group</key>
		<string>Actinoid</string>
		<key>data</key>
		<string>1945, United States</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>61</integer>
		<key>name</key>
		<string>Promethium</string>
		<key>group</key>
		<string>Lanthanoids</string>
		<key>data</key>
		<string>1945, United States</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>96</integer>
		<key>name</key>
		<string>Curium</string>
		<key>group</key>
		<string>Actinoid</string>
		<key>data</key>
		<string>1944, United States</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>85</integer>
		<key>name</key>
		<string>Astatine</string>
		<key>group</key>
		<string>Halogen</string>
		<key>data</key>
		<string>1940, United States</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>93</integer>
		<key>name</key>
		<string>Neptunium</string>
		<key>group</key>
		<string>Actinoid</string>
		<key>data</key>
		<string>1940, United States</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>94</integer>
		<key>name</key>
		<string>Plutonium</string>
		<key>group</key>
		<string>Actinoid</string>
		<key>data</key>
		<string>1940, United States</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>87</integer>
		<key>name</key>
		<string>Francium</string>
		<key>group</key>
		<string>Alkali metal</string>
		<key>data</key>
		<string>1939, France</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>43</integer>
		<key>name</key>
		<string>Technetium</string>
		<key>group</key>
		<string>Transition metals</string>
		<key>data</key>
		<string>1937, Italy</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>60</integer>
		<key>name</key>
		<string>Neodymium</string>
		<key>group</key>
		<string>Lanthanoids</string>
		<key>data</key>
		<string>1925, Austria</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>75</integer>
		<key>name</key>
		<string>Rhenium</string>
		<key>group</key>
		<string>Transition metals</string>
		<key>data</key>
		<string>1925, Germany</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>72</integer>
		<key>name</key>
		<string>Hafnium</string>
		<key>group</key>
		<string>Transition metals</string>
		<key>data</key>
		<string>1923, Denmark</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>91</integer>
		<key>name</key>
		<string>Protactinium</string>
		<key>group</key>
		<string>Actinoid</string>
		<key>data</key>
		<string>1917, England/France</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>71</integer>
		<key>name</key>
		<string>Lutetium</string>
		<key>group</key>
		<string>Lanthanoids</string>
		<key>data</key>
		<string>1907, France</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>63</integer>
		<key>name</key>
		<string>Europium</string>
		<key>group</key>
		<string>Lanthanoids</string>
		<key>data</key>
		<string>1901, France</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>89</integer>
		<key>name</key>
		<string>Actinium</string>
		<key>group</key>
		<string>Actinoid</string>
		<key>data</key>
		<string>1899, France</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>36</integer>
		<key>name</key>
		<string>Krypton</string>
		<key>group</key>
		<string>Noble Gases</string>
		<key>data</key>
		<string>1898, Great Britain</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>10</integer>
		<key>name</key>
		<string>Neon</string>
		<key>group</key>
		<string>Noble gas</string>
		<key>data</key>
		<string>1898, England</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>84</integer>
		<key>name</key>
		<string>Polonium</string>
		<key>group</key>
		<string>Chalcogen</string>
		<key>data</key>
		<string>1898, France</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>88</integer>
		<key>name</key>
		<string>Radium</string>
		<key>group</key>
		<string>Alkaline earth metal</string>
		<key>data</key>
		<string>1898, France</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>86</integer>
		<key>name</key>
		<string>Radon</string>
		<key>group</key>
		<string>Noble gas</string>
		<key>data</key>
		<string>1898, Germany</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>54</integer>
		<key>name</key>
		<string>Xenon</string>
		<key>group</key>
		<string>Noble gas</string>
		<key>data</key>
		<string>1898, Great Britain</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>2</integer>
		<key>name</key>
		<string>Helium</string>
		<key>group</key>
		<string>Noble gas</string>
		<key>data</key>
		<string>1895, Scotland/Sweden</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>18</integer>
		<key>name</key>
		<string>Argon</string>
		<key>group</key>
		<string>Noble gas</string>
		<key>data</key>
		<string>1894, Scotland</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>66</integer>
		<key>name</key>
		<string>Dysprosium</string>
		<key>group</key>
		<string>Lanthanoids</string>
		<key>data</key>
		<string>1886, France</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>9</integer>
		<key>name</key>
		<string>Fluorine</string>
		<key>group</key>
		<string>Halogen</string>
		<key>data</key>
		<string>1886, France</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>32</integer>
		<key>name</key>
		<string>Germanium</string>
		<key>group</key>
		<string>Metalloids</string>
		<key>data</key>
		<string>1886, Germany</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>59</integer>
		<key>name</key>
		<string>Praseodymium</string>
		<key>group</key>
		<string>Lanthanoids</string>
		<key>data</key>
		<string>1885, Austria</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>64</integer>
		<key>name</key>
		<string>Gadolinium</string>
		<key>group</key>
		<string>Lanthanoids</string>
		<key>data</key>
		<string>1880, Switzerland</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>62</integer>
		<key>name</key>
		<string>Samarium</string>
		<key>group</key>
		<string>Lanthanoids</string>
		<key>data</key>
		<string>1879, France</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>21</integer>
		<key>name</key>
		<string>Scandium</string>
		<key>group</key>
		<string>Transition metals</string>
		<key>data</key>
		<string>1879, Sweden</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>69</integer>
		<key>name</key>
		<string>Thulium</string>
		<key>group</key>
		<string>Lanthanoids</string>
		<key>data</key>
		<string>1879, Sweden</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>67</integer>
		<key>name</key>
		<string>Holmium</string>
		<key>group</key>
		<string>Lanthanoids</string>
		<key>data</key>
		<string>1878, Switzerland</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>70</integer>
		<key>name</key>
		<string>Ytterbium</string>
		<key>group</key>
		<string>Lanthanoids</string>
		<key>data</key>
		<string>1878, Switzerland</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>31</integer>
		<key>name</key>
		<string>Gallium</string>
		<key>group</key>
		<string>Metals</string>
		<key>data</key>
		<string>1875, France</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>49</integer>
		<key>name</key>
		<string>Indium</string>
		<key>group</key>
		<string>Metals</string>
		<key>data</key>
		<string>1863, Germany</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>37</integer>
		<key>name</key>
		<string>Rubidium</string>
		<key>group</key>
		<string>Alkali metal</string>
		<key>data</key>
		<string>1861, Germany</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>81</integer>
		<key>name</key>
		<string>Thallium</string>
		<key>group</key>
		<string>Metals</string>
		<key>data</key>
		<string>1861, England</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>55</integer>
		<key>name</key>
		<string>Caesium</string>
		<key>group</key>
		<string>Alkali metal</string>
		<key>data</key>
		<string>1860, Germany</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>44</integer>
		<key>name</key>
		<string>Ruthenium</string>
		<key>group</key>
		<string>Precious metal or Platinum group metal</string>
		<key>data</key>
		<string>1844, Russia</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>68</integer>
		<key>name</key>
		<string>Erbium</string>
		<key>group</key>
		<string>Lanthanoids</string>
		<key>data</key>
		<string>1843, Sweden</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>65</integer>
		<key>name</key>
		<string>Terbium</string>
		<key>group</key>
		<string>Lanthanoids</string>
		<key>data</key>
		<string>1843, Sweden</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>57</integer>
		<key>name</key>
		<string>Lanthanum</string>
		<key>group</key>
		<string>Lanthanoids</string>
		<key>data</key>
		<string>1839, Sweden</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>23</integer>
		<key>name</key>
		<string>Vanadium</string>
		<key>group</key>
		<string>Transition metals</string>
		<key>data</key>
		<string>1830, Sweden</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>5</integer>
		<key>name</key>
		<string>Boron</string>
		<key>group</key>
		<string>Metalloids</string>
		<key>data</key>
		<string>1828, England/France</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>90</integer>
		<key>name</key>
		<string>Thorium</string>
		<key>group</key>
		<string>Actinoid</string>
		<key>data</key>
		<string>1828, Sweden</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>35</integer>
		<key>name</key>
		<string>Bromine</string>
		<key>group</key>
		<string>Halogen</string>
		<key>data</key>
		<string>1826, France</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>13</integer>
		<key>name</key>
		<string>Aluminium</string>
		<key>group</key>
		<string>Metals</string>
		<key>data</key>
		<string>1825, Denmark</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>14</integer>
		<key>name</key>
		<string>Silicon</string>
		<key>group</key>
		<string>Metalloids</string>
		<key>data</key>
		<string>1823, Sweden</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>48</integer>
		<key>name</key>
		<string>Cadmium</string>
		<key>group</key>
		<string>Transition metals</string>
		<key>data</key>
		<string>1817, Germany</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>3</integer>
		<key>name</key>
		<string>Lithium</string>
		<key>group</key>
		<string>Alkali metal</string>
		<key>data</key>
		<string>1817, Sweden</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>34</integer>
		<key>name</key>
		<string>Selenium</string>
		<key>group</key>
		<string>Chalcogen</string>
		<key>data</key>
		<string>1817, Sweden</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>56</integer>
		<key>name</key>
		<string>Barium</string>
		<key>group</key>
		<string>Alkaline earth metal</string>
		<key>data</key>
		<string>1808, England</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>20</integer>
		<key>name</key>
		<string>Calcium</string>
		<key>group</key>
		<string>Alkaline earth metal</string>
		<key>data</key>
		<string>1808, England</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>12</integer>
		<key>name</key>
		<string>Magnesium</string>
		<key>group</key>
		<string>Alkaline earth metal</string>
		<key>data</key>
		<string>1808, England</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>19</integer>
		<key>name</key>
		<string>Potassium</string>
		<key>group</key>
		<string>Alkali metal</string>
		<key>data</key>
		<string>1807, England</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>11</integer>
		<key>name</key>
		<string>Sodium</string>
		<key>group</key>
		<string>Alkali metal</string>
		<key>data</key>
		<string>1807, England</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>53</integer>
		<key>name</key>
		<string>Iodine</string>
		<key>group</key>
		<string>Halogen</string>
		<key>data</key>
		<string>1804, France</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>77</integer>
		<key>name</key>
		<string>Iridium</string>
		<key>group</key>
		<string>Precious metal or Platinum group metal</string>
		<key>data</key>
		<string>1804, England/France</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>76</integer>
		<key>name</key>
		<string>Osmium</string>
		<key>group</key>
		<string>Precious metal or Platinum group metal</string>
		<key>data</key>
		<string>1804, England</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>58</integer>
		<key>name</key>
		<string>Cerium</string>
		<key>group</key>
		<string>Lanthanoids</string>
		<key>data</key>
		<string>1803, Sweden/Germany</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>46</integer>
		<key>name</key>
		<string>Palladium</string>
		<key>group</key>
		<string>Precious metal or Platinum group metal</string>
		<key>data</key>
		<string>1803, England</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>45</integer>
		<key>name</key>
		<string>Rhodium</string>
		<key>group</key>
		<string>Precious metal or Platinum group metal</string>
		<key>data</key>
		<string>1803, England</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>73</integer>
		<key>name</key>
		<string>Tantalum</string>
		<key>group</key>
		<string>Transition metals</string>
		<key>data</key>
		<string>1802, Sweden</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>41</integer>
		<key>name</key>
		<string>Niobium</string>
		<key>group</key>
		<string>Transition metals</string>
		<key>data</key>
		<string>1801, England</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>4</integer>
		<key>name</key>
		<string>Beryllium</string>
		<key>group</key>
		<string>Alkaline earth metal</string>
		<key>data</key>
		<string>1798, Germany/France</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>24</integer>
		<key>name</key>
		<string>Chromium</string>
		<key>group</key>
		<string>Transition metals</string>
		<key>data</key>
		<string>1797, France</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>39</integer>
		<key>name</key>
		<string>Yttrium</string>
		<key>group</key>
		<string>Transition metals</string>
		<key>data</key>
		<string>1794, Finland</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>22</integer>
		<key>name</key>
		<string>Titanium</string>
		<key>group</key>
		<string>Transition metals</string>
		<key>data</key>
		<string>1791, England</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>38</integer>
		<key>name</key>
		<string>Strontium</string>
		<key>group</key>
		<string>Alkaline earth metal</string>
		<key>data</key>
		<string>1790, Scotland</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>92</integer>
		<key>name</key>
		<string>Uranium</string>
		<key>group</key>
		<string>Actinoid</string>
		<key>data</key>
		<string>1789, Germany</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>40</integer>
		<key>name</key>
		<string>Zirconium</string>
		<key>group</key>
		<string>Transition metals</string>
		<key>data</key>
		<string>1789, Germany</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>74</integer>
		<key>name</key>
		<string>Tungsten</string>
		<key>group</key>
		<string>Transition metals</string>
		<key>data</key>
		<string>1783, Spain</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>52</integer>
		<key>name</key>
		<string>Tellurium</string>
		<key>group</key>
		<string>Chalcogen</string>
		<key>data</key>
		<string>1782, Romania</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>42</integer>
		<key>name</key>
		<string>Molybdenum</string>
		<key>group</key>
		<string>Transition metals</string>
		<key>data</key>
		<string>1778, Sweden</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>17</integer>
		<key>name</key>
		<string>Chlorine</string>
		<key>group</key>
		<string>Halogen</string>
		<key>data</key>
		<string>1774, Sweden</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>25</integer>
		<key>name</key>
		<string>Manganese</string>
		<key>group</key>
		<string>Transition metals</string>
		<key>data</key>
		<string>1774, Sweden</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>8</integer>
		<key>name</key>
		<string>Oxygen</string>
		<key>group</key>
		<string>Chalcogen</string>
		<key>data</key>
		<string>1774, England/Sweden</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>7</integer>
		<key>name</key>
		<string>Nitrogen</string>
		<key>group</key>
		<string>Pnictogen</string>
		<key>data</key>
		<string>1772, Scotland/Sweden</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>1</integer>
		<key>name</key>
		<string>Hydrogen</string>
		<key>group</key>
		<string>Non-metals</string>
		<key>data</key>
		<string>1766, England</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>30</integer>
		<key>name</key>
		<string>Zinc</string>
		<key>group</key>
		<string>Transition metals</string>
		<key>data</key>
		<string>1764, Germany</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>28</integer>
		<key>name</key>
		<string>Nickel</string>
		<key>group</key>
		<string>Transition metals</string>
		<key>data</key>
		<string>1751, Sweden</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>27</integer>
		<key>name</key>
		<string>Cobalt</string>
		<key>group</key>
		<string>Transition metals</string>
		<key>data</key>
		<string>1737, Sweden</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>15</integer>
		<key>name</key>
		<string>Phosphorus</string>
		<key>group</key>
		<string>Pnictogen</string>
		<key>data</key>
		<string>1669, Germany</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>33</integer>
		<key>name</key>
		<string>Arsenic</string>
		<key>group</key>
		<string>Pnictogen</string>
		<key>data</key>
		<string>1250, Unknown</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>51</integer>
		<key>name</key>
		<string>Antimony</string>
		<key>group</key>
		<string>Pnictogen</string>
		<key>data</key>
		<string>Known to the ancients.</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>83</integer>
		<key>name</key>
		<string>Bismuth</string>
		<key>group</key>
		<string>Pnictogen</string>
		<key>data</key>
		<string>Known to the ancients.</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>6</integer>
		<key>name</key>
		<string>Carbon</string>
		<key>group</key>
		<string>Non-metals</string>
		<key>data</key>
		<string>Known to the ancients.</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>29</integer>
		<key>name</key>
		<string>Copper</string>
		<key>group</key>
		<string>Coinage metal</string>
		<key>data</key>
		<string>Known to the ancients.</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>79</integer>
		<key>name</key>
		<string>Gold</string>
		<key>group</key>
		<string>Coinage metal</string>
		<key>data</key>
		<string>Known to the ancients.</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>26</integer>
		<key>name</key>
		<string>Iron</string>
		<key>group</key>
		<string>Transition metals</string>
		<key>data</key>
		<string>Known to the ancients.</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>82</integer>
		<key>name</key>
		<string>Lead</string>
		<key>group</key>
		<string>Metals</string>
		<key>data</key>
		<string>Known to the ancients.</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>80</integer>
		<key>name</key>
		<string>Mercury</string>
		<key>group</key>
		<string>Transition metals</string>
		<key>data</key>
		<string>Known to the ancients.</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>78</integer>
		<key>name</key>
		<string>Platinum</string>
		<key>group</key>
		<string>Precious metal or platinum group metal</string>
		<key>data</key>
		<string>1734c, Peru</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>47</integer>
		<key>name</key>
		<string>Silver</string>
		<key>group</key>
		<string>Coinage metal</string>
		<key>data</key>
		<string>Known to the ancients.</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>16</integer>
		<key>name</key>
		<string>Sulfur</string>
		<key>group</key>
		<string>Chalcogen</string>
		<key>data</key>
		<string>Known to the ancients.</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>117</integer>
		<key>name</key>
		<string>Tennessine</string>
		<key>group</key>
		<string>Halogen</string>
		<key>data</key>
		Unknown.
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>50</integer>
		<key>name</key>
		<string>Tin</string>
		<key>group</key>
		<string>Metals</string>
		<key>data</key>
		<string>Known to the ancients.</string>
	</dict>

</array>
</plist>
