
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- Paul Alan Freshney August 21st 2010 -->

<plist version="1.0">
<array>

	<dict>
		<key>atomicnumber</key>
		<integer>35</integer>
		<key>name</key>
		<string>Bromine</string>
		<key>data</key>
		<string>75.69 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>95</integer>
		<key>name</key>
		<string>Americium</string>
		<key>data</key>
		<string>62.7 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>64</integer>
		<key>name</key>
		<string>Gadolinium</string>
		<key>data</key>
		<string>37.03 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>94</integer>
		<key>name</key>
		<string>Plutonium</string>
		<key>data</key>
		<string>35.5 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>55</integer>
		<key>name</key>
		<string>Caesium</string>
		<key>data</key>
		<string>32.210 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>9</integer>
		<key>name</key>
		<string>Fluorine</string>
		<key>data</key>
		<string>31.304 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>37</integer>
		<key>name</key>
		<string>Rubidium</string>
		<key>data</key>
		<string>31.060 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>19</integer>
		<key>name</key>
		<string>Potassium</string>
		<key>data</key>
		<string>29.600 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>62</integer>
		<key>name</key>
		<string>Samarium</string>
		<key>data</key>
		<string>29.54 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>93</integer>
		<key>name</key>
		<string>Neptunium</string>
		<key>data</key>
		<string>29.46 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>7</integer>
		<key>name</key>
		<string>Nitrogen</string>
		<key>data</key>
		<string>29.124 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>65</integer>
		<key>name</key>
		<string>Terbium</string>
		<key>data</key>
		<string>28.91 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>11</integer>
		<key>name</key>
		<string>Sodium</string>
		<key>data</key>
		<string>28.230 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>68</integer>
		<key>name</key>
		<string>Erbium</string>
		<key>data</key>
		<string>28.12 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>56</integer>
		<key>name</key>
		<string>Barium</string>
		<key>data</key>
		<string>28.07 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>80</integer>
		<key>name</key>
		<string>Mercury</string>
		<key>data</key>
		<string>27.983 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>66</integer>
		<key>name</key>
		<string>Dysprosium</string>
		<key>data</key>
		<string>27.7 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>92</integer>
		<key>name</key>
		<string>Uranium</string>
		<key>data</key>
		<string>27.665 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>63</integer>
		<key>name</key>
		<string>Europium</string>
		<key>data</key>
		<string>27.66 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>60</integer>
		<key>name</key>
		<string>Neodymium</string>
		<key>data</key>
		<string>27.45 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>89</integer>
		<key>name</key>
		<string>Actinium</string>
		<key>data</key>
		<string>27.2 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>59</integer>
		<key>name</key>
		<string>Praseodymium</string>
		<key>data</key>
		<string>27.20 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>67</integer>
		<key>name</key>
		<string>Holmium</string>
		<key>data</key>
		<string>27.15 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>50</integer>
		<key>name</key>
		<string>Tin</string>
		<key>data</key>
		<string>27.112 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>57</integer>
		<key>name</key>
		<string>Lanthanum</string>
		<key>data</key>
		<string>27.11 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>69</integer>
		<key>name</key>
		<string>Thulium</string>
		<key>data</key>
		<string>27.03 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>58</integer>
		<key>name</key>
		<string>Cerium</string>
		<key>data</key>
		<string>26.94 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>71</integer>
		<key>name</key>
		<string>Lutetium</string>
		<key>data</key>
		<string>26.86 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>49</integer>
		<key>name</key>
		<string>Indium</string>
		<key>data</key>
		<string>26.74 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>70</integer>
		<key>name</key>
		<string>Ytterbium</string>
		<key>data</key>
		<string>26.74 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>82</integer>
		<key>name</key>
		<string>Lead</string>
		<key>data</key>
		<string>26.650 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>39</integer>
		<key>name</key>
		<string>Yttrium</string>
		<key>data</key>
		<string>26.54 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>84</integer>
		<key>name</key>
		<string>Polonium</string>
		<key>data</key>
		<string>26.4 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>38</integer>
		<key>name</key>
		<string>Strontium</string>
		<key>data</key>
		<string>26.4 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>25</integer>
		<key>name</key>
		<string>Manganese</string>
		<key>data</key>
		<string>26.32 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>81</integer>
		<key>name</key>
		<string>Thallium</string>
		<key>data</key>
		<string>26.32 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>90</integer>
		<key>name</key>
		<string>Thorium</string>
		<key>data</key>
		<string>26.230 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>28</integer>
		<key>name</key>
		<string>Nickel</string>
		<key>data</key>
		<string>26.07 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>48</integer>
		<key>name</key>
		<string>Cadmium</string>
		<key>data</key>
		<string>26.020 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>46</integer>
		<key>name</key>
		<string>Palladium</string>
		<key>data</key>
		<string>25.98 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>20</integer>
		<key>name</key>
		<string>Calcium</string>
		<key>data</key>
		<string>25.929 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>31</integer>
		<key>name</key>
		<string>Gallium</string>
		<key>data</key>
		<string>25.86 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>78</integer>
		<key>name</key>
		<string>Platinum</string>
		<key>data</key>
		<string>25.86 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>72</integer>
		<key>name</key>
		<string>Hafnium</string>
		<key>data</key>
		<string>25.73 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>52</integer>
		<key>name</key>
		<string>Tellurium</string>
		<key>data</key>
		<string>25.73 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>83</integer>
		<key>name</key>
		<string>Bismuth</string>
		<key>data</key>
		<string>25.52 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>21</integer>
		<key>name</key>
		<string>Scandium</string>
		<key>data</key>
		<string>25.52 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>75</integer>
		<key>name</key>
		<string>Rhenium</string>
		<key>data</key>
		<string>25.48 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>79</integer>
		<key>name</key>
		<string>Gold</string>
		<key>data</key>
		<string>25.418 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>30</integer>
		<key>name</key>
		<string>Zinc</string>
		<key>data</key>
		<string>25.390 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>34</integer>
		<key>name</key>
		<string>Selenium</string>
		<key>data</key>
		<string>25.363 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>73</integer>
		<key>name</key>
		<string>Tantalum</string>
		<key>data</key>
		<string>25.36 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>40</integer>
		<key>name</key>
		<string>Zirconium</string>
		<key>data</key>
		<string>25.36 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>47</integer>
		<key>name</key>
		<string>Silver</string>
		<key>data</key>
		<string>25.350 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>51</integer>
		<key>name</key>
		<string>Antimony</string>
		<key>data</key>
		<string>25.23 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>77</integer>
		<key>name</key>
		<string>Iridium</string>
		<key>data</key>
		<string>25.10 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>26</integer>
		<key>name</key>
		<string>Iron</string>
		<key>data</key>
		<string>25.10 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>22</integer>
		<key>name</key>
		<string>Titanium</string>
		<key>data</key>
		<string>25.060 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>45</integer>
		<key>name</key>
		<string>Rhodium</string>
		<key>data</key>
		<string>24.98 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>23</integer>
		<key>name</key>
		<string>Vanadium</string>
		<key>data</key>
		<string>24.89 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>12</integer>
		<key>name</key>
		<string>Magnesium</string>
		<key>data</key>
		<string>24.869 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>3</integer>
		<key>name</key>
		<string>Lithium</string>
		<key>data</key>
		<string>24.860 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>27</integer>
		<key>name</key>
		<string>Cobalt</string>
		<key>data</key>
		<string>24.81 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>76</integer>
		<key>name</key>
		<string>Osmium</string>
		<key>data</key>
		<string>24.7 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>33</integer>
		<key>name</key>
		<string>Arsenic</string>
		<key>data</key>
		<string>24.64 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>41</integer>
		<key>name</key>
		<string>Niobium</string>
		<key>data</key>
		<string>24.60 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>29</integer>
		<key>name</key>
		<string>Copper</string>
		<key>data</key>
		<string>24.440 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>43</integer>
		<key>name</key>
		<string>Technetium</string>
		<key>data</key>
		<string>24.27 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>74</integer>
		<key>name</key>
		<string>Tungsten</string>
		<key>data</key>
		<string>24.27 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>13</integer>
		<key>name</key>
		<string>Aluminium</string>
		<key>data</key>
		<string>24.200 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>42</integer>
		<key>name</key>
		<string>Molybdenum</string>
		<key>data</key>
		<string>24.06 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>44</integer>
		<key>name</key>
		<string>Ruthenium</string>
		<key>data</key>
		<string>24.06 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>24</integer>
		<key>name</key>
		<string>Chromium</string>
		<key>data</key>
		<string>23.35 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>32</integer>
		<key>name</key>
		<string>Germanium</string>
		<key>data</key>
		<string>23.222 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>16</integer>
		<key>name</key>
		<string>Sulfur</string>
		<key>data</key>
		<string>22.75 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>18</integer>
		<key>name</key>
		<string>Argon</string>
		<key>data</key>
		<string>20.786 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>2</integer>
		<key>name</key>
		<string>Helium</string>
		<key>data</key>
		<string>20.786 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>36</integer>
		<key>name</key>
		<string>Krypton</string>
		<key>data</key>
		<string>20.786 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>10</integer>
		<key>name</key>
		<string>Neon</string>
		<key>data</key>
		<string>20.786 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>86</integer>
		<key>name</key>
		<string>Radon</string>
		<key>data</key>
		<string>20.786 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>54</integer>
		<key>name</key>
		<string>Xenon</string>
		<key>data</key>
		<string>20.786 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>14</integer>
		<key>name</key>
		<string>Silicon</string>
		<key>data</key>
		<string>19.789 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>4</integer>
		<key>name</key>
		<string>Beryllium</string>
		<key>data</key>
		<string>16.443 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>5</integer>
		<key>name</key>
		<string>Boron</string>
		<key>data</key>
		<string>11.087 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>85</integer>
		<key>name</key>
		<string>Astatine</string>
		<key>data</key>
		<string>0 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>97</integer>
		<key>name</key>
		<string>Berkelium</string>
		<key>data</key>
		<string>0 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>107</integer>
		<key>name</key>
		<string>Bohrium</string>
		<key>data</key>
		<string>0 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>98</integer>
		<key>name</key>
		<string>Californium</string>
		<key>data</key>
		<string>0 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>96</integer>
		<key>name</key>
		<string>Curium</string>
		<key>data</key>
		<string>0 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>110</integer>
		<key>name</key>
		<string>Darmstadtium</string>
		<key>data</key>
		<string>0 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>105</integer>
		<key>name</key>
		<string>Dubnium</string>
		<key>data</key>
		<string>0 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>99</integer>
		<key>name</key>
		<string>Einsteinium</string>
		<key>data</key>
		<string>0 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>100</integer>
		<key>name</key>
		<string>Fermium</string>
		<key>data</key>
		<string>0 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>108</integer>
		<key>name</key>
		<string>Hassium</string>
		<key>data</key>
		<string>0 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>103</integer>
		<key>name</key>
		<string>Lawrencium</string>
		<key>data</key>
		<string>0 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>109</integer>
		<key>name</key>
		<string>Meitnerium</string>
		<key>data</key>
		<string>0 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>101</integer>
		<key>name</key>
		<string>Mendelevium</string>
		<key>data</key>
		<string>0 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>102</integer>
		<key>name</key>
		<string>Nobelium</string>
		<key>data</key>
		<string>0 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>61</integer>
		<key>name</key>
		<string>Promethium</string>
		<key>data</key>
		<string>0 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>91</integer>
		<key>name</key>
		<string>Protactinium</string>
		<key>data</key>
		<string>0 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>88</integer>
		<key>name</key>
		<string>Radium</string>
		<key>data</key>
		<string>0 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>111</integer>
		<key>name</key>
		<string>Roentgenium</string>
		<key>data</key>
		<string>0 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>104</integer>
		<key>name</key>
		<string>Rutherfordium</string>
		<key>data</key>
		<string>0 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>106</integer>
		<key>name</key>
		<string>Seaborgium</string>
		<key>data</key>
		<string>0 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>112</integer>
		<key>name</key>
		<string>Copernicium</string>
		<key>data</key>
		<string>0 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>116</integer>
		<key>name</key>
		<string>Livermorium</string>
		<key>data</key>
		<string>0 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>118</integer>
		<key>name</key>
		<string>Oganesson</string>
		<key>data</key>
		<string>0 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>115</integer>
		<key>name</key>
		<string>Moscovium</string>
		<key>data</key>
		<string>0 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>114</integer>
		<key>name</key>
		<string>Flerovium</string>
		<key>data</key>
		<string>0 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>117</integer>
		<key>name</key>
		<string>Tennessine</string>
		<key>data</key>
		<string>0 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>113</integer>
		<key>name</key>
		<string>Nihonium</string>
		<key>data</key>
		<string>0 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>6</integer>
		<key>name</key>
		<string>Carbon</string>
		<key>data</key>
		<string>(graphite) 8.517 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>17</integer>
		<key>name</key>
		<string>Chlorine</string>
		<key>data</key>
		<string>(Cl2) 33.949 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>87</integer>
		<key>name</key>
		<string>Francium</string>
		<key>data</key>
		<string>? 15 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>1</integer>
		<key>name</key>
		<string>Hydrogen</string>
		<key>data</key>
		<string>28.836 (H2) kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>53</integer>
		<key>name</key>
		<string>Iodine</string>
		<key>data</key>
		<string>(I2) 54.44 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>8</integer>
		<key>name</key>
		<string>Oxygen</string>
		<key>data</key>
		<string>(O2) 29.378 kJ/mol</string>
	</dict>

	<dict>
		<key>atomicnumber</key>
		<integer>15</integer>
		<key>name</key>
		<string>Phosphorus</string>
		<key>data</key>
		<string>(white) 23.824 kJ/mol</string>
	</dict>

</array>
</plist>
